mat-card {
  text-align: center;
}

mat-icon {
  margin: 0 5px 0 5px;
}

.statictic{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.more-button {
  color: white;
  background-color: #2f80ed;
}
