<mat-card [appDateToBorderColor]="responseItemData.snippet.publishedAt" [class.mat-elevation-z]="true">
  <img src={{responseItemData.snippet.thumbnails.high.url}}>

  <mat-card-content>
    <div>
      <mat-icon>remove_red_eye</mat-icon>
      {{responseItemData.statistics.viewCount}}
    </div>

    <div>
      <mat-icon svgIcon="like"></mat-icon>
      {{responseItemData.statistics.likeCount}}
    </div>

    <div>
      <mat-icon svgIcon="dislike"></mat-icon>
      {{responseItemData.statistics.dislikeCount}}
    </div>

    <div>
      <mat-icon>comment</mat-icon>
      {{responseItemData.statistics.commentCount}}
    </div>
  </mat-card-content>

  <mat-card-title>{{responseItemData.snippet.title}}</mat-card-title>

  <mat-card-actions>
    <button mat-raised-button class="more-button" (click)="showDetailedInfo()">More...</button>
  </mat-card-actions>
</mat-card>
