:host {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
}

.main-header-part {
  display: flex;
  justify-content: center;
}

.search-video-input {
  flex-basis: 40%;
  margin-right: 40px;
}
